* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Comic Sans", sans-serif;
}
body {
    background-image: linear-gradient( to bottom, rgba(200, 200, 0, 0.5), rgba(0, 0, 200, 0.5) ), url("wallpaper1.jpg");
}
#search-container {
  margin: 0.5em 2;
}
#search-container input {
  background-color: transparent;
  width: 80%;
  border-bottom: 3px solid #110f29;
  padding: 1em 0.1em;
  margin-left: 1.8em;
}
    #search-container input:focus {
        border-bottom-color: #004225;
    }
    #search-container button {
        padding: .6em 2.5em;
        margin-left: .5em;
        margin-right: 2 em;
        position:absolute;
        background-color: #FCD71E;
        color: #000000;
        border-radius: 4px;
        margin-top: 0.5em;
    }
.button-value {
    border: 1px solid #000000;
    padding: .6em .6em;
    border-radius: .4em;
    display: inline-block;
    background-color: #D8E899;
    color: #000000;
    cursor: pointer;
    margin: .3em 0;
    position:relative;
}
    .wrapper {
    width: 95%;
    margin: 2em;
}
.active {
    background-color: #B07FA0;
    color: #000000;
}
#products {
    display: grid-area: a;
    grid-template-columns: auto auto auto;
    grid-column-gap:.5em;
    padding: .5em 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.image-container {
  text-align: center;
}
img {
  max-width: 200%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 1080px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: auto;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
